config: {}
networks: []
storage_pools: []
profiles: []
projects: []
cluster:
  server_name: {{ inventory_hostname }}
  enabled: true
  member_config:
  - entity: storage-pool
    name: local
    key: source
    value: ""
    description: '"source" property for storage pool "local"'
  cluster_address: {{ hostvars['server1.lab'].ansible_default_ipv4.address }}:8443
  cluster_certificate: |
    {{ '\n    '.join(hostvars['server1.lab'].cert_info.environment.certificate[:-1].split('\n')) }}
  server_address: {{ ansible_default_ipv4.address }}:8443
  cluster_password: joinme
  cluster_certificate_path: ""
  cluster_token: ""
