---
- hosts:
    - lxd-master
  become: true
  gather_facts: true
  any_errors_fatal: true
  tasks:
    - name: Create a started container
      community.general.lxd_container:
        name: "{{ item }}"
        type: virtual-machine
        ignore_volatile_options: true
        state: started
        source:
          type: image
          mode: pull
          server:
          protocol: lxd
          alias: base
        devices:
          eth0:
            network: "ovn"
            type: "nic"
        profiles: ["k3s"]
        wait_for_ipv4_addresses: true
      timeout: 600
      with_inventory_hostnames:
        - master
        - worker
      # loop_control:
      #   pause: 30
